<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="batch_name" value="JmsBatch" />
	<property name="LOG_FILE"
		value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}" />
	<include
		resource="org/springframework/boot/logging/logback/file-appender.xml" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="JmsBatchfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./logs/com.cscummings.-${batch_name}.log</File>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>./logs/archived/com.cscumings-${batch_name}.%i.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>13</maxIndex>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>2MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="org.springframework.jdbc" level="TRACE"
		additivity="false">
		<appender-Ref ref="JmsBatchfile" />
	</logger>
	<logger name="org.springframework.jms" level="DEBUG"
		additivity="false">
		<appender-Ref ref="JmsBatchfile" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="JmsBatchfile" />
	</root>
</configuration>